::-webkit-scrollbar
  width: 8px
  background-color: rgba($black, 0)

::-webkit-scrollbar-thumb
  background-color: rgba($black, .4)
  border-radius: $border-radius-base

h1
h2
h3
.h1
.h2
.h3
  margin-top: ($line-height-computed / 2)
