//
// Variables
// --------------------------------------------------

@import "libs/variables-font-awesome"
@import "libs/variables-bootstrap"

$summary-width = 320px
$summary-active = $gray-lighter
